{% if messages %}
<style type="text/css">
    #message{
        list-style-type: none;
        padding: 0.5em 2em 0.5 2em;
        text-align: center;
    }
    .card-body{
        width:52%;
        margin: 0 auto;
    }
</style>
<div class="card-body card-padding">
    <div class="alert alert-success alert-dismissible" role="alert">
        {% for message in messages %}
        <li{% if message.tags %} id="message" class="{{ message.tags }}"{% endif %}>{{ message|safe }}</li>
        {% endfor %}
    </div>
</div>
{% endif %}       
