{% extends "base_sistema.html" %}
{% load i18n %}
{% block content %}
<form action="/i18n/setlang/" method="post">{% csrf_token %}
    <input name="next" type="hidden" value="{% url 'home:inicio' %}" />
    <select name="language">
        {% get_current_language as LANGUAGE_CODE %}
        {% get_available_languages as LANGUAGES %}
        {% get_language_info_list for LANGUAGES as languages %}
        {% for language in languages %}
            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
                {{ language.name_local }} ({{ language.code }})
            </option>
        {% endfor %}
    </select>
    <input type="submit" value="Ir" />
</form>

{% endblock content %}
